# Shared secrets
DATABASE_URL=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
JWT_SECRET=
AUTH_SECRET=

# App vars
API_URL=
VITE_API_URL=
VITE_APP_URL=
ENVIRONMENT=

# App-specific secrets
YOUTUBE_API_KEY=
CHZZK_API_KEY=

# Per-dev overrides
OAUTH_REDIRECT_URL=
DEV_TUNNEL_URL=
VITE_OAUTH_REDIRECT_URL=
